apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: retail-app
type: Opaque
stringData:
  mysql-host: "YOUR_MYSQL_HOST"
  mysql-username: "admin"
  mysql-password: "YOUR_DB_PASSWORD"
  mysql-database: "retailstore"
  postgres-host: "YOUR_POSTGRES_HOST"
  postgres-username: "dbadmin"
  postgres-password: "YOUR_DB_PASSWORD"
  postgres-database: "retailstore"
